@model ComicBookGallery.Models.ComicBook[]

@{
    //NO NEED TO ADD THIS _ViewStart file was created in Views when this index file was created.
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

@foreach (var comic in Model)
{
    <div class="row">
        <div class="col-md-3">
            <h4>@Html.ActionLink(comic.DisplayText, "Detail", new { id = comic.Id})</h4>
            <a href="@Url.Action("detail", new { id = comic.Id})">
                <img src="/Images/@comic.CoverImageFileName"
                     alt="@comic.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    </div>
}


